h1 {
  @apply font-riffic scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance uppercase;
}

h2 {
  @apply font-riffic my-2 scroll-m-20 text-3xl font-bold tracking-tight uppercase first:mt-0;
}

h3 {
  @apply my-2 scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
  @apply leading-normal whitespace-pre-wrap not-first:mt-6 first:mt-0!;
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

code {
  @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

lead {
  @apply text-muted-foreground text-xl;
}

large {
  @apply text-lg font-semibold;
}

small {
  @apply text-sm leading-none font-medium;
}

:muted {
  @apply text-muted-foreground text-sm;
}
